---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{site.site_title}}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    </head>

    <body>
        <header>
            <span class="brand">{{site.site_title}}</span>
            {% if page.reference %}
                <span class="reference">
                    #{{ page.reference }}
                </span>
            {% endif %}
        </header>
        
        <main>
            {{ content }}
        </main>

        <footer>
            <p>© 2026 kastney. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>